body {
  background-color: #E0D4C9; /* Light beige background for the body */
}

.container {
  background-color: #e5c3a4;
  height: 500px; /* Slightly darker beige for the container */
}

.alert {
  background-color: #d29e6c;
}