<div class="container">
    <div class="form-group">
      <label for="biologicalSex">Biological Sex (for nutritional calculations):</label>
      <div class="radio-group">
        <div class="radio-option">
          <input type="radio" id="male" name="biologicalSex" value="male" [(ngModel)]="selectedSex">
          <label for="male">Male</label>
        </div>
        <div class="radio-option">
          <input type="radio" id="female" name="biologicalSex" value="female" [(ngModel)]="selectedSex">
          <label for="female">Female</label>
        </div>
      </div>
    </div>
  </div>