/* Center the subscription container */
.subscription-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    background-color: #f5f5f5; /* Light background */
  }
  
  /* Set a fixed width for the subscription content */
  .subscription-content {
    width: 400px;
    height: 600px; /* Slightly larger than mobile screen width */
    padding: 20px;
    background-color: #e5c3a4;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the navigation buttons */
  .navigation-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .pagination-dots {
    display: flex;
    gap: 5px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
  }
  
  .dot.active {
    background-color:rgb(28, 26, 26);
  }
  
  .btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
  }
  
  .btn-back, .btn-next {
    color: rgb(51, 49, 49);
  }